In [1]:
grade = 100

In [2]:
grade

100

In [3]:
student_name='Bill'

In [4]:
print(student_name, grade)

Bill 100

In [5]:
student_name = 'Mary'

In [6]:
print(student_name, grade)

Mary 100

In [7]:
age = 48
name = 'mike'
at_home = True
weight = 186.8

In [8]:
print(age, name, at_home, weight)

48 mike True 186.8

In [9]:
phone = "iPhone"
phone = 'iPhone'
# NO There is no difference! They are the same!

In [10]:
whos_house = "Mike's house"
print(whos_house)

Mike's house

In [12]:
My_quote = '"To Err is Human" - someone I do not know'

In [13]:
print(My_quote)

"To Err is Human" - someone I do not know

In [17]:
stuff = " '\"\"' "
print(stuff)

 '""'

In [19]:
age = 48
name = 'mike'
at_home = True
weight = 186.8
print("Hi my name is", name, "and I weigh", weight)

Hi my name is mike and I weigh 186.8

In [20]:
# f- string Lab
print(f"Hi my name is {name} and i weigh {weight}!")

Hi my name is mike and i weigh 186.8!

In [21]:
how_old = f"You are {age} years old"
print(how_old)

You are 48 years old

In [22]:
name

'mike'

In [23]:
age

48

In [24]:
type(name)

str

In [25]:
type(age)

int

In [26]:
type(99)

int

In [27]:
type(56.3)

float

In [29]:
type(age)

int

In [30]:
int(weight)

186

In [31]:
print(weight, int(weight) )

186.8 186

In [32]:
int("9930") + 5

9935

In [33]:
"9930" + "5"

'99305'

In [34]:
"re" + "ship" + "ment"

'reshipment'

# Let's code

Write a program to input your age and then let you know how old you will be next year as output

input: your age, eg 21  

output: next year you will be 22

In [43]:
age = input("Enter your age: ")
next_age = age + 1
print(f"Next year you will be {next_age}.")

Enter your age: 21

TypeError: can only concatenate str (not "int") to str

In [40]:
type(age), type(1)

(str, int)

In [36]:
56 + 0.5

56.5

In [37]:
"m" + "f"

'mf'

In [38]:
"10" + 4

TypeError: can only concatenate str (not "int") to str

In [42]:
age = input("Enter your age: ")
next_age = int(age) + 1
print(f"Next year you will be {next_age}.")

Enter your age: 21
Next year you will be 22.

In [44]:
age = int(input("Enter your age: "))
print(f"You are {age} next year you will be {age+1}")

Enter your age: 55
You are 55 next year you will be 56

In [50]:
name = "mike"
gpa = 3.45

print("%s has a gpa of %.2f" % (name, gpa) ) # Python Ver before 3.6
print(f"{name} has a gpa of {gpa}") # Python ver > 3.6

mike has a gpa of 3.45
mike has a gpa of 3.45

In [56]:
x = "0"
print(".%-20s." % x)
print(f".{x:20s}.")

.0                   .
.0                   .

In [57]:
a = "Mike"
b = "Fudge"
c = "104"
print(f"{a:10}{b:10}{c:10}")
print(f"{a:10}{b:10}{c:10}")
print(f"{a:10}{b:10}{c:10}")
print(f"{a:10}{b:10}{c:10}")

Mike      Fudge     104
Mike      Fudge     104
Mike      Fudge     104
Mike      Fudge     104

In [58]:
age = int(  input("Enter your name: ")   )

Enter your name: 56

In [59]:
(1 + (       (5 + 3)    * 2)    )

17

# Pay Rate Calculator Example

- Write a program to prompt for hourly rate, and hours worked for the week as inputs
- Then calculates the total pay as output. 
- Then prompts for tax rate as input, and outputs net pay.

Inputs: 

- Hourly Rate e.x. 17.50 
- Hours worked e.x. 40
- Tax Rate e.x. 10 ==> 10% 

Outputs:

- Total Pay e.x. hourly rate x hours worked ex. 17.50 * 40 = 700
- Amount of Tax: total pay * tax rate = e.x. 700 * 10/100 = 70 
- Net Pay : total pay - amount of tax e.x. 700 - 70

Steps:

1. input hourly rate
2. input hours worked
3. input tax rate
4. total pay is horly rate x hours worked
5. tax = total pay x tax rate /100
6. net pay = total pay - tax
7. print total pay
8. print tax
9. print net pay

In [71]:
print("TurboTax 2020 Edition")
hourly_rate = float( input("Enter your hourly rate: ") )
hours_worked = float( input("Enter the hours worked: ") )
tax_rate = float( input("Enter the tax rate:" ) )
total_pay = hourly_rate * hours_worked
tax = total_pay * tax_rate / 100
net_pay = total_pay - tax
print(f"Total Pay ... ${total_pay:.2f}")
print(f"Tax ......... $%.2f" % tax )
print(f"Net Pay ..... ${net_pay:.2f}")

TurboTax 2020 Edition
Enter your hourly rate: 17.50
Enter the hours worked: 40
Enter the tax rate:10
Total Pay ... $700.00
Tax ......... $70.00
Net Pay ..... $630.00

In [65]:
type(hours_worked)

str